body {
    margin: 0;
    background: #212121;
}

#background-canvas {
    position: fixed;
    touch-action: none;
    top: -1000px;
    left: -1000px;
    width: calc(200% + 200px);
    height: calc(200% + 200px);
    z-index: -1;
}