body {
    margin: 0;
    background: #212121;
}

#background-canvas {
    position: fixed;
    touch-action: none;
    top: -200%;
    left: -200%;
    width: calc(500% + 200px);
    height: calc(500% + 200px);
    z-index: -1;
}